/** Resets **/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    color: #000;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

li {
    list-style: none;
    color: #000;
}

a {
    text-decoration: none;
    color: #000;
}

.fondo {
    display: flex;
    height: 100vh;
    width: 100vw;
    background: hsla(27, 100%, 19%, 1);
    background: linear-gradient(135deg, hsla(27, 100%, 19%, 1) 15%, hsla(29, 100%, 35%, 1) 37%, hsla(27, 100%, 61%, 1) 68%, hsla(29, 100%, 73%, 1) 90%);
    background: -moz-linear-gradient(135deg, hsla(27, 100%, 19%, 1) 15%, hsla(29, 100%, 35%, 1) 37%, hsla(27, 100%, 61%, 1) 68%, hsla(29, 100%, 73%, 1) 90%);
    background: -webkit-linear-gradient(135deg, hsla(27, 100%, 19%, 1) 15%, hsla(29, 100%, 35%, 1) 37%, hsla(27, 100%, 61%, 1) 68%, hsla(29, 100%, 73%, 1) 90%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#602C00", endColorstr="#B55700", GradientType=1);
}

/** Header **/


.navbar {
    position: fixed;
    display: flex;
    justify-content: end;
    padding-right: 7rem;
    height: 10rem;
    width: 100%;
    z-index: 100;
}

.links {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    height: 6rem;
    align-items: center;
}


.navbar {
    background-color: transparent;
    overflow: hidden;
}

.links {
    width: 50%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.links li {
    display: inline;
}

.links li a {
    display: inline-block;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    font-family: Arial, sans-serif;
    transition: text-shadow 0.3s ease;
}


.links li a:hover {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #0ff, 0 0 70px #0ff, 0 0 80px #0ff,
        0 0 100px #0ff, 0 0 150px #0ff;
}


.item {
    color: #fff;
    font-size: 1.6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.btn_bar {
    width: 8rem;
    height: 4rem;
    background: none;
    border-radius: 2rem;
    color: rgb(255, 37, 37);
    border: 2px solid rgb(255, 37, 37);
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn_bar:hover {
    color: rgb(230, 87, 87);
    border: 2px solid rgb(230, 87, 87);
    text-shadow: 0 0 10px rgb(230, 87, 87);
    box-shadow: 0 0 10px rgb(230, 87, 87);
}

/* Boton Carrito */

.linksparte1 {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.offcanvas {
    
}








/* pagina catalogo */

.main_content {
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 243, 218);
}

.waveback {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;

}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    column-gap: 20px;
    row-gap: 100px;
}

.card {
    width: 100%;
    height: 260px;
    padding-top: 120px;
    border-radius: 15px;
    box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.75);
}

.cajaima {
    position: absolute;
    top: -60px;
    right: 65px;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.75);
    background-color: #fff;
}

.card_img {
    width: 170px;
    height: 170px;
    transform: scaleY(0.7);
    transform: scaleX(0.7);
    object-fit: cover;
}

.card_titulo {
    display: flex;
    justify-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    font-size: 20px;
}

.card_cajatext {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40%;
}

.card_button_box {
    display: flex;
    justify-content: center;
    width: 100%;
}

.card_button {
    width: 20rem;
    height: 3.5rem;
    border-radius: 25px;
    border: none;
    background-color: rgb(133, 17, 17);
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: 600;
    transition: .15s ease-in;
}

.card_button:hover {
    background-color: rgb(255, 159, 159);
    color: #632323;
}